/********************************************************* FONT **************************************************************/

@font-face {
    font-family: "pixel";
    src: url("../font/uni0553.ttf");
}

/********************************************************* FIRST ACCUEIL **************************************************************/

#home {
    text-align: center;
    background-color: #020d13;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    p {
        font-size: 40px;

        .arrow {
            font-size: 50px;
            font-weight: bold;
            color: #ff4d0b;
        }

        #fire {
            font-size: 50px;
            font-weight: bold;
            color: #ff4d0b;
        }
    }
}

/********************************************************* SECOND GAME **************************************************************/

body {
    position: absolute;
    font-family: "pixel";
    width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    cursor: crosshair;

    header {

        min-height: 80px;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-around;

        p {
            font-size: 35px;
            color: #ff4d0b;
        }

        h1 {
            color: #ff4d0b;
            ;
            text-align: center;
        }

    }

    #game {
        background-image: url(../img/poulpes_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 50px;
        padding-top: 80px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        #game_over {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
            z-index: 1;
            display: none;
        }

        #game_over_text,
        #winner {
            z-index: 3;
            color: white;
            font-size: 70px;
            text-align: center;
            margin-top: 15%;
            display: none;
        }

        #refresh {
            text-align: center;
            margin: auto;
            display: none;
            z-index: 3;
            cursor: pointer;
            background: white;
            border-style: outset;
            height: 65px;
            width: 155px;
            font-size: 23px;
        }

        #vilans {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            width: 80%;
            left: 0;


            img {
                margin: 5px;
            }
        }

        #player_container {

            text-align: center;

            #player {
                position: relative;
                z-index: 2;

            }

            .bullet {
                position: absolute;
            }

        }

    }

    footer {

        min-height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;

        p {
            color: white;
            margin-left: 5%;
            margin-top: 10px;
        }
    }
}
