@font-face {
    font-family: "pixel";
    src: url("../font/uni0553.ttf");
}

body {
    position: absolute;
    font-family: "pixel";
    width: 100%;
    text-transform: uppercase;
    overflow: hidden;

    header {

        min-height: 80px;
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-around;

        p {
            font-size: 35px;
        }

        h1 {
            color: coral;
            text-align: center;
        }

    }

    #game {

        background-image: url(../img/poulpe_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 50px;
        padding-top: 80px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #vilans {

            #row_1,
            #row_2,
            #row_3 {
                display: flex;
                justify-content: center;

                img {
                    width: 7%;
                    height: 10%;
                    margin: 10px;
                }
            }
        }

        #player_container {
            display: flex;
            justify-content: center;

        }

    }

    footer {


        min-height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 2;

        width: 100%;

        p {
            color: white;
            margin-left: 5%;
            margin-top: 10px;
        }
    }
}
